body {
  font-family: Osaka !important;
}

nav {
  font-family: Coyote !important;
}

.delete {
  color: #555;
}

.edit {
  color: rgb(192, 90, 6);
}

h4 {
  font-weight: 700 !important;
}

.alert {
  position: absolute !important;
  display: table;
  text-align: center;
  top: -10%;
  height: 10%;
  width: 100%;
  z-index: 3 !important;
  transition: 0.5s;
  user-select: none;
  line-height: 100%;
}

.alert p {
  margin: auto;
  display: table-cell;
  color: whitesmoke;
  vertical-align: middle;
  line-height: 100%;
  font-size: 3vh;
  font-weight: 700;
}

.bg-primary,
button {
  background-color: rgb(192, 90, 6) !important;
  border: none !important;
}
